 html ,body {
    margin: 0px;
}
.banner {
    margin: 0px;
    height: 650px;
    width: 100%;
    background-image: url(./spider.jpg);
    background-size: cover;
}
.topbar a {
    width: auto;
    text-decoration: none;
    color:white;
    float: right;
    border: 2px solid white;
    height: 35px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    transition: height,width,background-color,1s,2s;
} 
.topbar a:hover {
    height:40px ;
    color: black;
    background-color:white;
}
.header {
    height:80px;
    position: absolute;
    padding-left: 100px;
    color: white;
    font-size: 18Px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    animation-name:sample;
    animation-duration: 4s;
    /* animation-iteration-count:infinite; */
    
}
@keyframes sample {
    0%   {left:300px;top:300px;}
  100%   {left:15px;top:0px;}
}
.myimage {
    width: 200px;
    height:200px;  
    position:absolute;
    border: 2px solid white;
    animation: image 2s infinite alternate;
}
@keyframes image {
    from  {border-radius:0%;}
    to    {border-radius: 50%;}
}
.welcome {
    height:80px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    background-color: turquoise;
    padding-top: 10px;
}
.image {
    background-color:rgb(46, 43, 43);
    border: 2px solid black;
    
    
}
.card {
    margin: 20px;
}
.versova {
    background-color:white;
    text-align: center;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.massage {
    background-color:white;
    margin:50px;
}
.massage h1 {
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    text-align: center;
}
.form-control {
    background:white;
    border:none;
    outline: none;
    border-bottom: 1px solid gray;
    color:black;
    font-size: 18px;
}
input[type=submit] {
    background-color:brown;
    color: white;
    border: none;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }
  input[type=submit]:hover{
      background-color: red;
      cursor: pointer;
  }
.location {
    margin: 50px;
    background-size: cover;
} 
.footer {
    height: 80px;
    background-color:#383838;
    color: white;
    text-align: center;
    line-height: 80px;
}
.service {
    background-color:rgb(46, 43, 43);
    text-align: center;
    color: black;
}
.socialmedia {
    background-color: turquoise;
    padding: 0px;
    margin: 0px;
    height:auto;
    width: 100%;

}
.social {
    text-align: center;
    height:auto;
}
.btn {
    display: inline-block;
    height:50px;
    width: 50px;
    margin: 25px;
    background-color:#f1f1f1;
    color:#3498db;
    border-radius: 5px;
    box-shadow:0 5px 15px -5px #00000070;
    overflow: hidden;
    position: relative;
    line-height: 50px;
}
.btn i {
    font-size:22px;
    transition: 0.2s linear;
}
.btn :hover {
    transform: scale(1.3);

} 
.box {
    width: 100%;
    height:200px;
}
.hobies {
    width: 100%;
    height:auto;
}
.cricket {
    width:300px;
    height:300px;
}
.imgbox {
    position: relative;
    overflow: hidden;
    
}
.imgbox img {
    max-width: 100%;
    transition: transform 2s;
}
.cricket:hover {
    transform:scale(1.1) ;
}